
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');


:root {
  --body-text-color: #1e1c22;
  --body-text-color: 62, 58, 55;
  /*--body-text-color: #444444;*/
  /*--body-text-color: red;*/
  --problem-row-badge-txt-color: #bfc3e1;		/* silver .  */
  /* --problem-row-badge-txt-color: red;		silver .  */
  /*--problem-row-badge-bg-color:  #000f89;		/* Tahiti Blue .  *!/*/
  /*--problem-head-txt-color:        var(--problem-row-badge-txt-color);*/
  /*--problem-head-bg-color:         var(--problem-row-badge-bg-color);*/
  /*--problem-head-badge-txt-color:  var(--problem-row-badge-bg-color);*/
  /*--problem-head-badge-bg-color:   var(--problem-row-badge-txt-color);*/
  /*--problem-row-answer-txt-color:  var(--problem-row-badge-bg-color);*/
  /*--problem-row-txt-color:         var(--problem-row-badge-bg-color);*/
  /*--output—prompt-txt-color: 255,   0,  38;*/
  --input—prompt-txt-color:  0,   0, 196;        
  --code-cell-bkg-color:  #f7f7ff;
  --code-cell-bkg-color:  250, 247, 245;
	--cerulean: 41, 75, 173;
  --tahitiblue: #000f89;		 
  --funkbrightyorange: 255, 64, 0;
  --coolassbrightblue: 0, 0, 196;
  --killerbrightred: 255, 0, 38;
	--bannerLRpadding: 0.5em;
	--subtlegold: 252, 248, 227;
	--royalpurple: 70, 29, 124;
	--neonblue: 91, 62, 246;
	--dash: green;
	--cell: 200px;
}



.boooty {
  height: 200px;
  width: 200px;
  background-color: #1800ff;

}

/*═════ top header ══════════════════════════════════════════════════════════80════5═══*/

header.banner {
  height: 3em;
}

div.banner {
  position: absolute;
  right: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* height: 2.5em; */
}

div.banner img {
  /* height: 1.5em; */
}

.logos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

.logos > * {
  margin-right: 0em;
}

.cite_textbook {
  font-family: Lora serif;
  font-variant-numeric: oldstyle-nums;
  font-style: italic;
  font-size: 90%;
  color: rgba(var(--royalpurple),1);
  background-color: rgba(var(--royalpurple),0.15);
  padding: 0.35em 0.35em 0.35em 1em;
}

.cite_textbook.cb9::after {
  content: " ⋮ Çengel, Y. A., Boles, M. A., & Kanoglu, M. (2019). Thermodynamics: An engineering approach, 9e. McGraw-Hill Education.";
}

